<!DOCTYPE html>
<html>
  <head>
    <script src="http://localhost:8097"></script>
    <meta charset="utf-8" />
    <title>Barkin</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
